<article *ngIf="flower"
  class="flower-gallery-item" 
  [ngStyle]="{'background-image':' url(' + flower.profile_picture + ')'}">
  <div class="favorite">
    <input type="checkbox" name="favorite" [id]="'favorite_' + flower.id" [(ngModel)]="flower.favorite">
    <label [for]="'favorite_' + flower.id"><i class="fas fa-star"></i></label>
  </div>
  <h4>{{ flower.name }}</h4>
  <p>{{ flower.latin_name }}</p>
  <span class="sightings" (click)="viewFlowerDetails(flower.id)">{{ flower.sightings }} sightings</span>
</article>

