.avatar img {
  width: 50px; /* Postavite širinu avatara na 50 piksela */
  height: 50px; /* Postavite visinu avatara na 50 piksela */
  border-radius: 50%; /* Postavite zaobljeni ivičnjak kako biste dobili oblik kruga */
  margin-left: -10px; /* Dodajte razmak s leve strane */
  cursor: pointer; /* Postavite pokazivač kursora na oblik ruke */
}

.avatar img:hover {
  opacity: 0.8; /* Smanjite prozirnost slike kada je kursor iznad nje */
}

.user-name {
  font-size: 18px; /* Postavite veličinu fonta */
  font-weight: bold; /* Postavite debljinu fonta */
  color: #333; /* Postavite boju teksta */
  margin-right: 20px; /* Dodajte razmak s desne strane */
}

.header-content {
  display: flex;
  align-items: center;
  
}

header {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
}

.flowr-title {
  font-size: 30px;
  margin: 0;
  color: coral;
  font-weight: bold;
}

.flower-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border: 0;
  outline: none;
}

.sl-banner-navigation {
  padding: 0;
  margin: 0;
}

.sl-banner-navigation li {
  display: inline-block;
  margin-left: 60px;
  margin-top: 35px;
}

.sl-banner-navigation a {
  font-size: 20px;
  text-decoration: none;
  color: lightslategray;
}

.button-styling {
  color: coral;
}

.button-styling {
  border: 10px solid rgb(241, 131, 92);
  background-color: rgb(241, 131, 92);
  border-radius: 100px;
  padding-inline: 10px;
  cursor: pointer;

  a {
    color: white;
  }

}




