<header>
  <div class="header-content">
    <img id="img" src="assets/images/flowerr.png" alt="flow" class="flower-image">
    <p class="flowr-title">FlowrSpot</p>
  </div>
  <nav class="sl-banner-navigation" role="navigation" aria-label="Site navigation">
    <ul class="nav-bar">
      <li><a href="flowers">Flowers</a></li>
      <li><a href="latestSightings">Latest Sightings</a></li>
      <li><a href="favorites">Favorites</a></li>
      <li class="login"><a href="login">Login</a></li>
      <li><a href="/accountForm" (click)="showCreateAccountForm()">New Account</a></li>
    </ul>
  </nav>
</header>

