<div class="image-container">
  <div class="flower-list">
    <div class="flower-row" *ngFor="let row of flowerRows">
      <div class="flower-item" *ngFor="let flower of row">
        <input type="checkbox" class="star-checkbox" id="{{ 'checkbox-' + flower.id }}" />
        <label class="circle" for="{{ 'checkbox-' + flower.id }}">
          <span class="star">&#9733;</span>
          <div class="image-text">
            <h2>{{ flower.name }}</h2>
            <h3>{{ flower.latinName }}</h3>
          </div>
        </label>
        <img [src]="flower.imagePath" alt="{{ flower.name }}" />
        <div class="additional-text">
          <p>127 sightings</p>
        </div>
      </div>
    </div>
  </div>
</div>