<article class="flower-gallery-item">
    <div class="favorite">
        <input type="checkbox" name="favorite">
        <label><i class="fas fa-star"></i></label>
        <span class="sightings">{{ flower?.sightings }} sightings</span>
    </div>
   
    <div>
        <h4>{{ flower?.name }}</h4>
        <h5>{{ flower?.latin_name }}</h5>
        <div class="description">
            <p>{{ flower?.paragraf }}</p>
        </div>
        <div class="small-image-details">
            <h5><strong>Kingdom:</strong> {{ flower?.kingdom }}</h5>
            <h5><strong>Order:</strong> {{ flower?.order }}</h5>
            <h5><strong>Family:</strong> {{ flower?.family }}</h5>
            <h5><strong>Species:</strong> {{ flower?.species }}</h5> 
        </div>
    </div>

</article>



<hr class="code-divider">