<div class="image-container">
    <input type="checkbox" id="star-checkbox3" class="star-checkbox3"> <!-- Izmenjena klasa -->
    <label for="star-checkbox3" class="circle"> <!-- Promenjen za atribut "for" -->
        <span class="star">&#9733;</span>
    </label>
    <img src="\assets\images\flowers-high-resolution.jpg" alt="Slika 3">
    <div class="image-text">
        <h1>Ballon Flower</h1>
        <p>Platycodon grandiflorus</p>
        <div class="additional-text">
            127 sightings
        </div>
    </div>
</div>