
<div class="image-grid">
  <div class="image-row">
    <app-flower-gallery-item></app-flower-gallery-item>
    <app-flower-gallery-item></app-flower-gallery-item>
    <app-flower-gallery-item3></app-flower-gallery-item3>
    <app-flower-gallery-item></app-flower-gallery-item>
  </div>
  <div class="image-row">
    <app-flower-gallery-item></app-flower-gallery-item>
    <app-flower-gallery-item></app-flower-gallery-item>
    <app-flower-gallery-item></app-flower-gallery-item>
    <app-flower-gallery-item></app-flower-gallery-item>
  </div>
</div>